html,
body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    /* this is the important part*/
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

#root {
    margin: 0;
    /* background-color: red; */
}
.title {
    color: white;
    font-size: 4.2vw;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    img.header {
        display: block;
        margin: auto;
        width: 80%;
    }    
    .responsive {
        width: 100%;
        height: auto;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    img.header {
        display: block;
        margin: auto;
        width: 50%;
    }    
    .responsive {
        width: 90%;
        height: auto;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
}