html,
body {
    margin: 0px;
    padding: 0px;
    /* this is the important part*/
}

#root {
    margin: 0;
    /* background-color: red; */
}

.responsive {
    width: 100%;
    height: auto;
}

img.header {
    display: block;
    margin: auto;
    width: 80%;
}