* {
    margin: 0px;
    padding: 0px;
}
html,
body {
    background-color: #121212;
    /* this is the important part*/
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

#root {
    margin: 0;
    /* background-color: red; */
}
.title {
    color: white;
    font-size: 4.2vw;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    img.header {
        display: block;
        margin: auto;
        width: 80%;
    }    
    .cover {
        width: 100%;
        height: auto;
    }
    .storeBtn3 {
        width: 100%;
        height: auto;
    }
    .storeBtn2 {
        width: 66%;
        height: auto;
    }
    .storeBtn1 {
        width: 33%;
        height: auto;
    }
    .badge {
        width: 50%;
        border-color: gray;
        border-width: thin;
        border-style: solid;
    }
}
@media (min-width:480px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:992px) { /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1200px) { /* hi-res laptops and desktops */ 
    img.header {
        display: block;
        margin: auto;
        width: 80%;
    }    
    .cover {
        width: 90%;
        height: auto;
    }
    .badge {
        width: 30%;
        border-color: gray;
        border-width: thin;
        border-style: solid;
    }
}