html,
body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    /* this is the important part*/
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

#root {
    margin: 0;
    /* background-color: red; */
}
.title {
    color: white;
    font-size: 4.2vw;
}
.responsive {
    width: 100%;
    height: auto;
}

.responsiveLink {
    width: 50%;
    height: auto;
}

img.header {
    display: block;
    margin: auto;
    width: 80%;
}